$base : 40;
@mixin btn($url,$w,$h){
  display: inline-block;
  width:$w/$base * 1rem;
  height:$h/$base * 1rem;
  background:$url no-repeat;
  background-size:100% auto;
}

@mixin background($url,$w,$h){
  @if($w == 100%){
    width:$w;
  }@else {
    width:$w/$base * 1rem;
  }

  @if($h == 100%){
    height:$h;
  }@else {
    height:$h/$base * 1rem;
  }

  background:$url no-repeat;
  background-size:100% auto;
  display: inline-block;
}

@mixin centerX(){
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}

@mixin centerY(){
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

@mixin center(){
  position:absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform:translateX(-50%) translateY(-50%);
  -moz-transform:translateX(-50%) translateY(-50%);
}

@mixin circle($w,$h,$fontSize,$color,$backgroundColor){
  display: inline-block;
  font-size:rem($fontSize);
  width:rem($w);
  height:rem($h);
  line-height:rem($h);
  color:$color;
  background:$backgroundColor;
  border-radius:100%;
  text-align:center;
}
