@mixin avatar(){
  width:71rem/$base;
  height:135rem/$base;
  background:url(../images/avatar.png) no-repeat;
  background-size:100% auto;
}
@function avatar-w(){
    @return 71rem/$base;
}
@function avatar-h(){
    @return 135rem/$base;
}
@mixin banner(){
  width:100%;
  height:541rem/$base;
  background:url(../images/banner.png) no-repeat;
  background-size:100% auto;
}
@function banner-w(){
    @return 640rem/$base;
}
@function banner-h(){
    @return 541rem/$base;
}
@mixin bespeak_success(){
  width:275rem/$base;
  height:78rem/$base;
  background:url(../images/bespeak_success.png) no-repeat;
  background-size:100% auto;
}
@function bespeak_success-w(){
    @return 275rem/$base;
}
@function bespeak_success-h(){
    @return 78rem/$base;
}
@mixin bespeak_success_act(){
  width:275rem/$base;
  height:78rem/$base;
  background:url(../images/bespeak_success_act.png) no-repeat;
  background-size:100% auto;
}
@function bespeak_success_act-w(){
    @return 275rem/$base;
}
@function bespeak_success_act-h(){
    @return 78rem/$base;
}
@mixin border(){
  width:90rem/$base;
  height:90rem/$base;
  background:url(../images/border.png) no-repeat;
  background-size:100% auto;
}
@function border-w(){
    @return 90rem/$base;
}
@function border-h(){
    @return 90rem/$base;
}
@mixin box-1-open(){
  width:397rem/$base;
  height:390rem/$base;
  background:url(../images/box-1-open.png) no-repeat;
  background-size:100% auto;
}
@function box-1-open-w(){
    @return 397rem/$base;
}
@function box-1-open-h(){
    @return 390rem/$base;
}
@mixin box_bg(){
  width:612rem/$base;
  height:292rem/$base;
  background:url(../images/box_bg.png) no-repeat;
  background-size:100% auto;
}
@function box_bg-w(){
    @return 612rem/$base;
}
@function box_bg-h(){
    @return 292rem/$base;
}
@mixin btn_act(){
  width:275rem/$base;
  height:78rem/$base;
  background:url(../images/btn_act.png) no-repeat;
  background-size:100% auto;
}
@function btn_act-w(){
    @return 275rem/$base;
}
@function btn_act-h(){
    @return 78rem/$base;
}
@mixin btn_act_yp(){
  width:275rem/$base;
  height:78rem/$base;
  background:url(../images/btn_act_yp.png) no-repeat;
  background-size:100% auto;
}
@function btn_act_yp-w(){
    @return 275rem/$base;
}
@function btn_act_yp-h(){
    @return 78rem/$base;
}
@mixin btn_another_act(){
  width:275rem/$base;
  height:78rem/$base;
  background:url(../images/btn_another_act.png) no-repeat;
  background-size:100% auto;
}
@function btn_another_act-w(){
    @return 275rem/$base;
}
@function btn_another_act-h(){
    @return 78rem/$base;
}
@mixin btn_another_nor(){
  width:275rem/$base;
  height:78rem/$base;
  background:url(../images/btn_another_nor.png) no-repeat;
  background-size:100% auto;
}
@function btn_another_nor-w(){
    @return 275rem/$base;
}
@function btn_another_nor-h(){
    @return 78rem/$base;
}
@mixin btn_close(){
  width:50rem/$base;
  height:50rem/$base;
  background:url(../images/btn_close.png) no-repeat;
  background-size:100% auto;
}
@function btn_close-w(){
    @return 50rem/$base;
}
@function btn_close-h(){
    @return 50rem/$base;
}
@mixin btn_more_act(){
  width:275rem/$base;
  height:78rem/$base;
  background:url(../images/btn_more_act.png) no-repeat;
  background-size:100% auto;
}
@function btn_more_act-w(){
    @return 275rem/$base;
}
@function btn_more_act-h(){
    @return 78rem/$base;
}
@mixin btn_more_nor(){
  width:275rem/$base;
  height:78rem/$base;
  background:url(../images/btn_more_nor.png) no-repeat;
  background-size:100% auto;
}
@function btn_more_nor-w(){
    @return 275rem/$base;
}
@function btn_more_nor-h(){
    @return 78rem/$base;
}
@mixin btn_next_act(){
  width:35rem/$base;
  height:16rem/$base;
  background:url(../images/btn_next_act.png) no-repeat;
  background-size:100% auto;
}
@function btn_next_act-w(){
    @return 35rem/$base;
}
@function btn_next_act-h(){
    @return 16rem/$base;
}
@mixin btn_nor(){
  width:275rem/$base;
  height:78rem/$base;
  background:url(../images/btn_nor.png) no-repeat;
  background-size:100% auto;
}
@function btn_nor-w(){
    @return 275rem/$base;
}
@function btn_nor-h(){
    @return 78rem/$base;
}
@mixin btn_nor_yp(){
  width:275rem/$base;
  height:78rem/$base;
  background:url(../images/btn_nor_yp.png) no-repeat;
  background-size:100% auto;
}
@function btn_nor_yp-w(){
    @return 275rem/$base;
}
@function btn_nor_yp-h(){
    @return 78rem/$base;
}
@mixin btn_other_act(){
  width:275rem/$base;
  height:78rem/$base;
  background:url(../images/btn_other_act.png) no-repeat;
  background-size:100% auto;
}
@function btn_other_act-w(){
    @return 275rem/$base;
}
@function btn_other_act-h(){
    @return 78rem/$base;
}
@mixin btn_other_nor(){
  width:275rem/$base;
  height:78rem/$base;
  background:url(../images/btn_other_nor.png) no-repeat;
  background-size:100% auto;
}
@function btn_other_nor-w(){
    @return 275rem/$base;
}
@function btn_other_nor-h(){
    @return 78rem/$base;
}
@mixin btn_prev(){
  width:35rem/$base;
  height:16rem/$base;
  background:url(../images/btn_prev.png) no-repeat;
  background-size:100% auto;
}
@function btn_prev-w(){
    @return 35rem/$base;
}
@function btn_prev-h(){
    @return 16rem/$base;
}
@mixin btn_receive(){
  width:275rem/$base;
  height:78rem/$base;
  background:url(../images/btn_receive.png) no-repeat;
  background-size:100% auto;
}
@function btn_receive-w(){
    @return 275rem/$base;
}
@function btn_receive-h(){
    @return 78rem/$base;
}
@mixin btn_receive_act(){
  width:275rem/$base;
  height:78rem/$base;
  background:url(../images/btn_receive_act.png) no-repeat;
  background-size:100% auto;
}
@function btn_receive_act-w(){
    @return 275rem/$base;
}
@function btn_receive_act-h(){
    @return 78rem/$base;
}
@mixin btn_receive_success(){
  width:275rem/$base;
  height:78rem/$base;
  background:url(../images/btn_receive_success.png) no-repeat;
  background-size:100% auto;
}
@function btn_receive_success-w(){
    @return 275rem/$base;
}
@function btn_receive_success-h(){
    @return 78rem/$base;
}
@mixin btn_receive_success_act(){
  width:275rem/$base;
  height:78rem/$base;
  background:url(../images/btn_receive_success_act.png) no-repeat;
  background-size:100% auto;
}
@function btn_receive_success_act-w(){
    @return 275rem/$base;
}
@function btn_receive_success_act-h(){
    @return 78rem/$base;
}
@mixin btn_share_act(){
  width:275rem/$base;
  height:78rem/$base;
  background:url(../images/btn_share_act.png) no-repeat;
  background-size:100% auto;
}
@function btn_share_act-w(){
    @return 275rem/$base;
}
@function btn_share_act-h(){
    @return 78rem/$base;
}
@mixin btn_share_nor(){
  width:275rem/$base;
  height:78rem/$base;
  background:url(../images/btn_share_nor.png) no-repeat;
  background-size:100% auto;
}
@function btn_share_nor-w(){
    @return 275rem/$base;
}
@function btn_share_nor-h(){
    @return 78rem/$base;
}
@mixin btn_small_act(){
  width:164rem/$base;
  height:57rem/$base;
  background:url(../images/btn_small_act.png) no-repeat;
  background-size:100% auto;
}
@function btn_small_act-w(){
    @return 164rem/$base;
}
@function btn_small_act-h(){
    @return 57rem/$base;
}
@mixin btn_small_dis(){
  width:164rem/$base;
  height:57rem/$base;
  background:url(../images/btn_small_dis.png) no-repeat;
  background-size:100% auto;
}
@function btn_small_dis-w(){
    @return 164rem/$base;
}
@function btn_small_dis-h(){
    @return 57rem/$base;
}
@mixin btn_small_nor(){
  width:164rem/$base;
  height:57rem/$base;
  background:url(../images/btn_small_nor.png) no-repeat;
  background-size:100% auto;
}
@function btn_small_nor-w(){
    @return 164rem/$base;
}
@function btn_small_nor-h(){
    @return 57rem/$base;
}
@mixin btn_smaller_act(){
  width:144rem/$base;
  height:55rem/$base;
  background:url(../images/btn_smaller_act.png) no-repeat;
  background-size:100% auto;
}
@function btn_smaller_act-w(){
    @return 144rem/$base;
}
@function btn_smaller_act-h(){
    @return 55rem/$base;
}
@mixin btn_smaller_dis(){
  width:144rem/$base;
  height:55rem/$base;
  background:url(../images/btn_smaller_dis.png) no-repeat;
  background-size:100% auto;
}
@function btn_smaller_dis-w(){
    @return 144rem/$base;
}
@function btn_smaller_dis-h(){
    @return 55rem/$base;
}
@mixin btn_smaller_nor(){
  width:144rem/$base;
  height:55rem/$base;
  background:url(../images/btn_smaller_nor.png) no-repeat;
  background-size:100% auto;
}
@function btn_smaller_nor-w(){
    @return 144rem/$base;
}
@function btn_smaller_nor-h(){
    @return 55rem/$base;
}
@mixin btn_vir(){
  width:144rem/$base;
  height:55rem/$base;
  background:url(../images/btn_vir.png) no-repeat;
  background-size:100% auto;
}
@function btn_vir-w(){
    @return 144rem/$base;
}
@function btn_vir-h(){
    @return 55rem/$base;
}
@mixin dialog_bg_1(){
  width:565rem/$base;
  height:457rem/$base;
  background:url(../images/dialog_bg_1.png) no-repeat;
  background-size:100% auto;
}
@function dialog_bg_1-w(){
    @return 565rem/$base;
}
@function dialog_bg_1-h(){
    @return 457rem/$base;
}
@mixin dialog_bg_2(){
  width:565rem/$base;
  height:290rem/$base;
  background:url(../images/dialog_bg_2.png) no-repeat;
  background-size:100% auto;
}
@function dialog_bg_2-w(){
    @return 565rem/$base;
}
@function dialog_bg_2-h(){
    @return 290rem/$base;
}
@mixin dialog_bg_3(){
  width:565rem/$base;
  height:760rem/$base;
  background:url(../images/dialog_bg_3.png) no-repeat;
  background-size:100% auto;
}
@function dialog_bg_3-w(){
    @return 565rem/$base;
}
@function dialog_bg_3-h(){
    @return 760rem/$base;
}
@mixin dialog_bg_4(){
  width:565rem/$base;
  height:724rem/$base;
  background:url(../images/dialog_bg_4.png) no-repeat;
  background-size:100% auto;
}
@function dialog_bg_4-w(){
    @return 565rem/$base;
}
@function dialog_bg_4-h(){
    @return 724rem/$base;
}
@mixin dialog_bg_5(){
  width:565rem/$base;
  height:359rem/$base;
  background:url(../images/dialog_bg_5.png) no-repeat;
  background-size:100% auto;
}
@function dialog_bg_5-w(){
    @return 565rem/$base;
}
@function dialog_bg_5-h(){
    @return 359rem/$base;
}
@mixin followItemBg(){
  width:264rem/$base;
  height:90rem/$base;
  background:url(../images/followItemBg.png) no-repeat;
  background-size:100% auto;
}
@function followItemBg-w(){
    @return 264rem/$base;
}
@function followItemBg-h(){
    @return 90rem/$base;
}
@mixin footer(){
  width:100%;
  height:191rem/$base;
  background:url(../images/footer.png) no-repeat;
  background-size:100% auto;
}
@function footer-w(){
    @return 640rem/$base;
}
@function footer-h(){
    @return 191rem/$base;
}
@mixin hebirankBg(){
  width:606rem/$base;
  height:291rem/$base;
  background:url(../images/hebirankBg.png) no-repeat;
  background-size:100% auto;
}
@function hebirankBg-w(){
    @return 606rem/$base;
}
@function hebirankBg-h(){
    @return 291rem/$base;
}
@mixin icon_right(){
  width:119rem/$base;
  height:119rem/$base;
  background:url(../images/icon_right.png) no-repeat;
  background-size:100% auto;
}
@function icon_right-w(){
    @return 119rem/$base;
}
@function icon_right-h(){
    @return 119rem/$base;
}
@mixin live_room(){
  width:554rem/$base;
  height:312rem/$base;
  background:url(../images/live_room.png) no-repeat;
  background-size:100% auto;
}
@function live_room-w(){
    @return 554rem/$base;
}
@function live_room-h(){
    @return 312rem/$base;
}
@mixin logo(){
  width:146rem/$base;
  height:146rem/$base;
  background:url(../images/logo.png) no-repeat;
  background-size:100% auto;
}
@function logo-w(){
    @return 146rem/$base;
}
@function logo-h(){
    @return 146rem/$base;
}
@mixin logo_yp(){
  width:149rem/$base;
  height:149rem/$base;
  background:url(../images/logo_yp.png) no-repeat;
  background-size:100% auto;
}
@function logo_yp-w(){
    @return 149rem/$base;
}
@function logo_yp-h(){
    @return 149rem/$base;
}
@mixin luck_bg(){
  width:605rem/$base;
  height:689rem/$base;
  background:url(../images/luck_bg.png) no-repeat;
  background-size:100% auto;
}
@function luck_bg-w(){
    @return 605rem/$base;
}
@function luck_bg-h(){
    @return 689rem/$base;
}
@mixin prize_bg(){
  width:605rem/$base;
  height:929rem/$base;
  background:url(../images/prize_bg.png) no-repeat;
  background-size:100% auto;
}
@function prize_bg-w(){
    @return 605rem/$base;
}
@function prize_bg-h(){
    @return 929rem/$base;
}
@mixin rank_item_bg(){
  width:264rem/$base;
  height:90rem/$base;
  background:url(../images/rank_item_bg.png) no-repeat;
  background-size:100% auto;
}
@function rank_item_bg-w(){
    @return 264rem/$base;
}
@function rank_item_bg-h(){
    @return 90rem/$base;
}
@mixin s_banner(){
  width:100%;
  height:770rem/$base;
  background:url(../images/s_banner.png) no-repeat;
  background-size:100% auto;
}
@function s_banner-w(){
    @return 640rem/$base;
}
@function s_banner-h(){
    @return 770rem/$base;
}
@mixin video(){
  width:605rem/$base;
  height:583rem/$base;
  background:url(../images/video.png) no-repeat;
  background-size:100% auto;
}
@function video-w(){
    @return 605rem/$base;
}
@function video-h(){
    @return 583rem/$base;
}
@mixin video_play(){
  width:554rem/$base;
  height:312rem/$base;
  background:url(../images/video_play.png) no-repeat;
  background-size:100% auto;
}
@function video_play-w(){
    @return 554rem/$base;
}
@function video_play-h(){
    @return 312rem/$base;
}
@mixin yp_download(){
  width:275rem/$base;
  height:78rem/$base;
  background:url(../images/yp_download.png) no-repeat;
  background-size:100% auto;
}
@function yp_download-w(){
    @return 275rem/$base;
}
@function yp_download-h(){
    @return 78rem/$base;
}
@mixin yp_download_act(){
  width:275rem/$base;
  height:78rem/$base;
  background:url(../images/yp_download_act.png) no-repeat;
  background-size:100% auto;
}
@function yp_download_act-w(){
    @return 275rem/$base;
}
@function yp_download_act-h(){
    @return 78rem/$base;
}
@mixin yxh_download(){
  width:275rem/$base;
  height:78rem/$base;
  background:url(../images/yxh_download.png) no-repeat;
  background-size:100% auto;
}
@function yxh_download-w(){
    @return 275rem/$base;
}
@function yxh_download-h(){
    @return 78rem/$base;
}
@mixin yxh_download_act(){
  width:275rem/$base;
  height:78rem/$base;
  background:url(../images/yxh_download_act.png) no-repeat;
  background-size:100% auto;
}
@function yxh_download_act-w(){
    @return 275rem/$base;
}
@function yxh_download_act-h(){
    @return 78rem/$base;
}
@mixin yxh_footer(){
  width:100%;
  height:191rem/$base;
  background:url(../images/yxh_footer.png) no-repeat;
  background-size:100% auto;
}
@function yxh_footer-w(){
    @return 640rem/$base;
}
@function yxh_footer-h(){
    @return 191rem/$base;
}
@mixin zhuanshi(){
  width:355rem/$base;
  height:239rem/$base;
  background:url(../images/zhuanshi.png) no-repeat;
  background-size:100% auto;
}
@function zhuanshi-w(){
    @return 355rem/$base;
}
@function zhuanshi-h(){
    @return 239rem/$base;
}
@mixin zhuboBg(){
  width:606rem/$base;
  height:292rem/$base;
  background:url(../images/zhuboBg.png) no-repeat;
  background-size:100% auto;
}
@function zhuboBg-w(){
    @return 606rem/$base;
}
@function zhuboBg-h(){
    @return 292rem/$base;
}
@mixin zhubotiltleBg(){
  width:100%;
  height:77rem/$base;
  background:url(../images/zhubotiltleBg.png) no-repeat;
  background-size:100% auto;
}
@function zhubotiltleBg-w(){
    @return 640rem/$base;
}
@function zhubotiltleBg-h(){
    @return 77rem/$base;
}
