/*  reset */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,figure{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0;}
del,ins{text-decoration:none}
fieldset,img{border:0;}
button,input,select,textarea{font-family:"Microsoft Yahei",Arial,Helvetica,sans-serif;}
input,select,img{vertical-align:middle}
input,select,img{vertical-align:middle}
input,select{outline:none}
ul,ol{list-style:none}
label{cursor:pointer}
i { font-style: normal; }
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
body{-ms-text-size-adjust:none;-o-user-select:none;-o-text-size-adjust:none;user-select:none;text-size-adjust:none;font:14px "微软雅黑",Arial,Helvetica,sans-serif;min-height:100%;}
a,button{-webkit-user-select:none;-webkit-user-drag:none;-webkit-tap-highlight-color:rgba(0,0,0,0);text-decoration: none;}
div { -webkit-tap-highlight-color: rgba(0,0,0,0); }
.clearfix:after{content:"";height:0;visibility:hidden;display:block;clear:both;-webkit-tap-highlight-color:rgba(0,0,0,0);}
button {outline: none;border:none;}
.clearfix{zoom:1;}
.clear{clear:both}
.fl{float:left;}
.fr{float:right;}
/*  end reset */

.ant-layout-header .logo {
  width: 120px;
  height: 31px;
  background: #333;
  border-radius: 6px;
  margin: 16px 28px 16px 0;
  float: left;
  color:#fff;
  line-height:31px;
  text-align:center;
  font-weight:bold;
  font-size:26px;
}


.m_category {
  text-align:center;
  cursor : pointer;
  li {
    position: relative;
    img {
      display: block;
      width:120px;
      height:120px;
      border-radius:100%;
    }
    p {
      font-size:20px;
      line-height:35px;
    }
    margin:20px;
    display: inline-block;
  }

}


.m_api_list {

  li {
    position:relative;
    line-height:30px;
    font-size:14px;
    padding:0 10px;
  }
  .desc {
    margin-left: 15px;
  }
  li:nth-of-type(2n+1){
    background:#eee;
  }
  .link {
    position: absolute;
    right:10px;
    top:0;
    a {
      margin-left:10px;
    }
  }
}

.m_api_details,.m_api_edit,.m_api_add {
  span {
    line-height:30px;
    font-size:14px;
  }
  li {
    padding:0 14px;
    span:nth-of-type(1){
      margin-right:10px;
    }
  }


}

.m_api_details {
  li:nth-of-type(2n+1){
    background:#eee;
  }
}
.m_api_edit,.m_api_add {
  input {
    background:#fff;
  }
  p {
    background:#eee;
    line-height:30px;
    padding-left:10px;
  }
  input {
    margin:10px 0;
    width:100%;
    padding:0 10px;
    box-sizing: border-box;
    height:30px;
  }
  textarea {
    margin:10px 0;
    width:100%;
    height:80px;
    resize: none;
    padding:0 10px;
    box-sizing: border-box;
  }
}

.m_link_box {
  a {
    margin:0 5px;
  }
}
.m_list_header {
  overflow:hidden;
  padding:10px 0 20px;

  button {
    float:left;
    margin-right:10px;
  }
}

.m_add_doc {

  .header {
    line-height:46px;
    background:#eee;
    overflow: hidden;
    button {
      margin:10px;
      float:right;
    }
    ul {
      margin-left:10px;
      overflow: hidden;
      float:left;
    }
    li {
      float:left;
      margin-right:40px;
    }
    input {
      height:30px;
      padding-left:10px;
    }
  }
}

.m_search {
  min-height:600px;
  li {
    padding:10px;
    line-height:20px;
    width:100%;
    margin-bottom:5px;
    background:#eee;
    a {
      display: block;
    }
    i {
      margin-right:10px;
    }
    b {
      color:#00d300;
    }
  }
}
.m_add_doc {
  margin:0 100px;
}
.m_empty {

}

.m_details_doc {
  h3 {
    text-align:center;
    font-size:24px;
  }
  .time {
    text-align:center;
    line-height:30px;
    padding-bottom:20px;
  }
  .content {
    font-size:18px;
  }
}

.m_date_picker {
  border-top:1px #000 solid;
  border-left:1px #000 solid;
  width:100%;
  th{
    border-right:1px #000 solid;
    border-bottom:1px #000 solid;
  }
  td {
    width:30px;
    height:30px;
    text-align:center;
    border-right:1px #000 solid;
    border-bottom:1px #000 solid;
  }
}

.color_1 {
  background:pink;
}
.color_2 {
  background:yellow;
}
.color_3 {
  background:orange;
}
.color_4 {
  background:green;
}
.color_5 {
  background:blue;
}
.color_6 {
  background:red;
}